footer {
    height: 200px;
    background-color: #ddd;
    font-size: 20px;
}

body {
    padding: 0; 
    background: #fafafa;
    text-shadow: 1px 1px 1px #fff;
}





form {
    max-width: 500px;
    margin: 50px auto;
}
form input, form textarea {
    margin-bottom: 20px;
    padding-left: 40px !important;
    padding-right: 20px !important;
}
.form-control {
    margin-bottom: 8px;
    margin-top: 20px;
}
h2 {
    margin-top: 30px;
}
form svg {
    float: left; 
    position: absolute; 
    top:9px;
    left: 8px;
}
.btn-success {
    margin-top: 20px;
}
form .fa-user {
    color: #999;
}
form .fa-envelope {
    top: 12px;
    color: #999;
}
form .fa-phone {
    top: 12px;
    color: #999;
}
form .fa-paper-plane {
    color: #fff !important;
}
.contact-form .form-group {
    position: relative; 
    margin-bottom: 0;
}
.contact-form .asterisx {
    position: absolute;
    color: #b90d0d;
    font-size: 30px;
    right: 10px;
    top: 0;
}
.contact-form .alert-danger {
    padding: 5px 10px !important;
    display: none;
}