
.headerMarge {
  height: 100px;
}

/* == fonts == */
@font-face {
 font-family: "ThirstyRough";
 src: url("../fonts/ThirstyRough.otf");
}
@font-face {
 font-family: "BebasNeue";
 src: url("../fonts/BebasNeue.ttf");
}

:root {
    --line-height: 30px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: white;
    line-height: var(--line-height);
    min-height: 100%;
    /*padding-top: 150px;*/
}

/* == main-header component == */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background-image: url(../images/background-nav.png);
    box-shadow: 0 0 16px 0 black;
    z-index: 10000;
}
.main-header--nav {
    display: block;
    position: absolute;
    top: 0;
    left: -250px;
    min-width: 200px;
    min-height: 100vh;
    padding: 10px 15px;
    font-family: 'Anton', sans-serif;
    background: linear-gradient(#B32E33, #5A171A);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.48);
    transition: left 0.3s ease-in-out;
    z-index: 999;
    margin-right: auto;
    margin-left: auto;
}
.main-header--logo {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px 30px;
}
.main-header--logo-img {
    width: 60%;
    margin-left: -40%;
}
.main-header--social-item {
    padding: 0 5px;
    list-style: none;
}
.main-header--nav.active {
    left: 0;
}
.main-header--social-img {
    width: 50px;
    vertical-align: middle;
    display: inline-block;
}
.main-header--burger {
    margin: 0;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}
.main-header--nav-group {
    margin: 0;
    padding: 0;
    
}
.main-header--nav-item {
    list-style: none;
    text-decoration: none;
}
.main-header--nav-link {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
.main-header--nav-item2{
    position: absolute;
    opacity: 0;
    text-align: center;
    left: 10%;
    margin-left: 10px;
}
.main-header--nav-link-presse{
    margin-right: 40px;
}
.icons-burger{
    position: static;
    opacity: 1;
}
.main-header--nav-logo-burger{
    position: static;
    opacity: 1;
    margin-left: 25%;
    margin-left: 25%;
}
.icons-inline{
    display: inline;
}
.main-header--nav-item{
    line-height: 10px;
}
button{
    font-family: "BebasNeue", serif;
    font-size: 24px;
    color: white;
    background: linear-gradient(#B32E33, #5A171A);
    float: right;
}
@media screen and (min-width: 1024px) {
    .main-header--logo-img {
        width: 80%;
        margin-left: -8px;
    }
    .main-header--nav-item2{
        position: static;
        opacity: 1;
    }
    .main-header--nav-logo-burger{
        position: absolute;
        opacity: 0;
    }
    .icons-burger{
    position: absolute;
    opacity: 0;
    }
    .main-header {
        position: fixed;
        justify-content: flex-start;
    }
    .main-header--nav {
        display: flex;
        position: static;
        min-height: 0;
        background: none;
        box-shadow: none;
        padding: 0;
    }
    .main-header--logo {
        margin: 0;
    }
    .main-header--social {
        padding: 0;
        display: flex;
        align-items: center;
    }
    .main-header--nav-item,
    .main-header--social-item {
        display: inline-block;
    }
    .main-header--nav-item2{
        position: absolute;
        text-align: center;
        left: 43%;
    }
    .main-header--nav-link-presse{
        margin-right: 0px;
    }
    .main-header--nav-link-devenir{
        margin-left: 120px;
    }
    .main-header--nav-link {
        padding: 30px 40px;
        color: #B32E33;
        transition: all 0.2s ease;
    }
    .main-header--nav-link:hover {
        padding: 30px 40px;
        position: relative;
        color: #5A3722;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .main-header--nav-link::before {
        content: '';
        width: 0;
        position: absolute;
        height: 4px;
        bottom: 0;
        left: 50%;
        transition: all 0.2s ease;
    }
    .main-header--nav-link:hover::before {
        content: '';
        width: 100%;
        position: absolute;
        height: 8px;
        background: linear-gradient(#B32E33, #5A171A);
        bottom: 0;
        left: 0;
    }
    .main-header--burger {
        display: none;
    }

/* == classe de surcharge */
.width-400px{
    width: 400px;
}
.width-630px{
    width: 630px;   
}
.margin-left-20px{
    margin-left: 20px;
}
.margin-left-30{
    margin-left: 30%;
}
.margin-left-45{
    margin-left: 45%;
}
.margin-top-60{
    margin-top: 60%;
}
    
}


/* == classe de surcharge */
.margin-bottom-20px {
    margin-bottom: 20px;
}
.margin-bottom-50px {
    margin-bottom: 50px;
}
.content-padding {
    padding: 50px 15px 50px 15px;
}

/* footer */
footer {
  background-image: url(../images/background-nav.png);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  width: 100%;
  font-family: 'Anton', sans-serif;
  border-bottom: 12px solid #B12C31;
  padding-top: 20px;
  margin-top: -20px;
}
footer .centered {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .centered .footer-logo {
  width: 20%;
}
footer .centered .footer-logo img.logo {
  padding: 30px 20px 10px 20px;
  max-width: 100%;
}
footer .centered .footer-contact {
  width: 20%;
}
.inline li{
    display: inline;
}
footer .centered .footer-navigation {
  width: 60%;
}
footer .centered .footer-navigation .footer-links-container {
  width: 33.33333%;
  position: relative;
  float: left;
  margin: 0;
}
footer .centered .footer-navigation .footer-links-container .footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: max-height .5s;
  transition: max-height .5s;
}
footer .copyright {
  position: relative;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  padding: 15px 0;
}

/* == responsive tablet == */
@media only screen and (max-width: 749px) {
    .picture-header-presse, .picture-header-reserver, .picture-header-concept, .picture-header-devenir-franchise, .picture-header-contact{
    height: 200px !important;
}
footer{      
  background-size: 200%;
}
  footer .centered {
    flex-wrap: wrap;
  }
  footer .centered .footer-logo {
    max-width: 250px;
    width: 50%;
  }
  footer .centered .footer-contact {
    width: 50%;
    padding: 0 20px;
  }
  footer .centered .footer-navigation {
    width: 100%;
  }
  footer .centered .footer-navigation .footer-links-container {
    padding: 0 20px;
  }
}

/* == responsive mobile == */
@media only screen and (max-width: 500px) {
.inline li img{
    width: 50px;
}
footer{      
  background-size: 300% !important;
}
footer .centered .footer-logo {
  text-align: center;
}
footer{      
  background-size: 200%;
}
  footer .centered .footer-logo {
    width: 40%;
    margin: 0 auto;
  }
  footer .centered .footer-contact {
    width: 100%;
  }
  footer .centered .footer-navigation .footer-links-container {
    width: 100%;
    padding: 0;
  }
  footer .centered .footer-navigation .footer-links-container h3 {
    margin: 0;
    padding: 10px 20px;
    border-top: #000 1px solid;
    cursor: pointer;
  }
  footer .centered .footer-navigation .footer-links-container h3::after {
    float: right;
    margin-right: 10px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
    width: 7px;
    height: 7px;
    border-top: 3px solid #5A3722;
    border-right: 3px solid #5A3722;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: transform .5s;
    transition: transform .5s;
  }
  footer .centered .footer-navigation .footer-links-container .footer-links {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
  }
  footer .centered .footer-navigation .footer-links-container.active h3::after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  footer .centered .footer-navigation .footer-links-container.active .footer-links {
    max-height: 10000px;
  }
}

/* == text footer == */
footer h3 {
  font-weight: lighter;
  margin-bottom: 0;
  font-size: 21px !important;
}
footer p, footer li {
  font-weight: 400;
  /*margin: 10px 0;*/
  font-family: 'Fjalla One', sans-serif;
}
footer a {
  color: #5A3722;
  text-decoration: none;
  -webkit-transition: color .5s, background .5s;
  transition: color .5s, background .5s;
}
footer a:hover {
  color: #B32E33;
}



.avis-container {
  text-align: center;
  margin-bottom: 20px;
}


.avis-client {
  flex-wrap: nowrap !important;
  overflow: hidden;
}


.avis-nom{
    font-family: 'BebasNeue', serif;
    font-size: 28px;
    letter-spacing: 1px;
    padding: 4px;
    background-image: linear-gradient(#AC2C31, #561619);
    color: #fff;
}
.avis-container h2 {
  font-family: 'BebasNeue', serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  margin-top: 20px;
  text-shadow: 1px 1px 4px #561619;
}
.avis-container p:not(.avis-nom) {
   font-family: 'Fjalla', serif;
   font-size: 18px;
   color: black;
}
.avis-container .avis-style {
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 70px;
  margin: 0 5px;
  padding: 0 !important;
}







@media screen and (min-width: 1024px) { 

}
.box img{
    width: 100%;
}

.box h1, h2, h3 {
  padding: 5px 10px 10px;
}
section, article {
  background: inherit;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: initial;
}
section article {  
  opacity: 0;
  -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
          transition: transform 1s ease, opacity 1s ease;
  -webkit-transform: translateY(-40px);
     -moz-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px);
}
section article.fadeIn {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
section {
    z-index: 2;
}
.box {
  background: inherit;
  color: #FF5B06;
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}
.box .feed {
  height: 100%;
  overflow: hidden;
  padding: 0 10px 0 10% ;
  position: relative;
  /*width: initial;*/
  width: 80%;
}
.box .feed h2 {
  font-family: "ThirstyRough", serif;
  font-size: 28px;
  color: #B32E33;
  font-weight: 400;
  letter-spacing: 1px;
}
.box .feed p {
  color: #555;
  font-family: 'Fjalla One', sans-serif;
  padding: 5px 10px;
  text-align: justify;
}
.box .feed p a {
  text-decoration: non;
  color: #B32E33;
}
.one article {
    background-color: white;
}
article .box {
    opacity: 1;
    margin-top: 70px;
}
@media only screen and (min-width: 240px) {
  .box .feed p {font-size: 13px;}
    .feed span{
    font-family: "BebasNeue", serif;
    font-size: 14px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 4px;
    float: right;
}
}
@media only screen and (min-width: 320px) {
  .box .feed p {font-size: 13px;}
}
@media only screen and (min-width: 480px) {
  .box .feed p {font-size: 14px;}
}
@media only screen and (min-width: 528px) {
  .box {
    display: inline-block;
    margin: 0 -2px;
    vertical-align: middle;
    width: 50%;
  }
  .box .feed p {
    font-size: 11px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 640px) {
  .box {
    display: inline-block;
    margin: 0 -2px;
    vertical-align: middle;
    width: 50%;
  }
  .box .feed p {
      font-size: 13px;
  }
}
@media only screen and (min-width: 768px) {
  .box {
    display: inline-block;
    margin: 0 -2px;
    vertical-align: middle;
    width: 50%;
  }
  .box .feed p {
      font-size: 15px;line-height: 24px;
   }
}
@media only screen and (min-width: 992px) {
  .box {
    display: inline-block;
    margin: 0 -2px;
    vertical-align: middle;
    width: 50%;
  }
  .box .feed p {
      font-size: 15px;line-height: 24px;
    }
}
@media only screen and (min-width: 1200px) {
  .box {
    display: inline-block;
    margin: 0 -2px;
    vertical-align: middle;
    width: 50%;
  }
  .box .feed p {
      font-size: 15px;line-height: 24px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
    .picture-header-presse, .picture-header-reserver, .picture-header-concept, .picture-header-devenir-franchise, .picture-header-contact{
    height: 200px !important;
}
  .box {
    display: inline-block;
    margin: 0 -2px;
    vertical-align: middle;
    width: 50%;
  }
  .box .feed p {
      font-size: 15px;line-height: 24px;
    }
}
@media only screen and (max-width: 528px) {
    .picture-header-presse, .picture-header-reserver, .picture-header-concept, .picture-header-devenir-franchise, .picture-header-contact{
    height: 200px !important;
}
.box .feed h2{
    font-size: 22px;
}
  .box .feed {
      margin: 15px 0 65px;
    }
  article .box:before {
  content: "";
  margin-top: 0;
  margin-left: -10px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: auto;
  bottom: -10px;
  left: 50% !important;
  right: auto;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
          transform: rotate(45deg);
}
.one article .box:before {background: #FFF}
.one article .box:last-child:before {
  background: #FFF;
  top: -10px;
  bottom: auto;
}
}
@media only screen and (max-width: 240px) {
    .picture-header-presse, .picture-header-reserver, .picture-header-concept, .picture-header-devenir-franchise, .picture-header-contact{
    height: 200px !important;
}
.box .feed p {font-size: 12px;}
}
.two{
    background-image: url(../images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.title-avis h2 {
  font-family: "BebasNeue", serif;
  font-size: 28px;
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  margin-top: -260px;
}
.section{
    background-color: white;
}
.video-wrapper {
	width: 600px;
	max-width: 100%;
}


/* ----------------concept---------------  */

.text-burger {
  background-color: rgba(247, 239, 220, 0.7); 
  padding-top: 10%;
  /*background-color: rgba(255, 255, 255, 0.7);*/
   /*height: 50%;*/
  /* padding-bottom: 15px;
  /* margin-top: 15%;*/



}
.img-burger {
    max-width: 100%;
}

.container-press {
  margin-bottom: 80px;
}
.text-burger-p {
 
  /*padding: 15px;*/
  color:  #B32E33;
}
.button-text {
  cursor: pointer;
  padding: 5px;
}
.text-burger2 {
/*  margin-top: 10%;*/
}
.text-burger3, .text-burger4, .text-burger5  {
  /*margin-top: 6%;*/
}

.text-burger6, .text-burger7, .text-burger8 {
  /*margin-top: 7%;*/
}


.concept-header{
  margin-top: 10px auto;
}

.title-presse h2{
  font-family: 'BebasNeue', serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  text-shadow: 1px 1px 4px #561619;
}

.title-bienvenue{
  font-family: 'BebasNeue', serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  text-shadow: 1px 1px 4px #561619;
}


/* avis */
.stars-icons{
  color: #B32E33;
}
.avis-note{
  font-family: 'BebasNeue', serif;
  font-size: 20px;
  letter-spacing: 1px;
  float: left;
  margin-right: 20px;
  font-weight: 3s00;
}
.avis-note-div {
  padding-left: 35%;   
}
.avis-date{
  font-style: italic;
}


#map {
        height: 400px;
        width: 100%;
       }


       .iframe {
        margin: 10px auto;
       }

.container-fb {
  text-align: center;
  padding-top: 6%;
  margin-bottom: 1%;
  
}
.container-fb h2 {
  font-family: 'BebasNeue', serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  margin-top: 20px;
  text-shadow: 1px 1px 4px #561619;

}

.res-container {
  padding-top: 0; 
  margin-bottom: 20px;
}


/*------- Dashboard -------------*/

.avis-status {
  font-size: 2rem; 
  color: ##721D20; 
  border: 1px solid #721D20;
  padding-left: 15px; 
}

.btnaDdAvis {
 width:50%;
 font-size: 24px;
 margin-left: 25%;
 margin-right: 25%;
}

.btnaDdAvis:hover {
    color: black;
}

.h2-container {
  font-family: 'BebasNeue', serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  text-shadow: 1px 1px 4px #561619;
}

.avisDashboard {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 5px;
  margin: 3px 5px;

}
.avisDashboard hr {
  border: solid #721D20 ;
}
.avisDashboard form {
  margin: 0 auto;
}
.avisDashboard form input {
  margin-bottom: 0;
}
.avis-text, .avis-id {
  font-family: 'Fjalla', serif;
  font-size: 2em;
  color: black;
/*  padding-left: 10px;*/
}

/*--------Logout---------*/

.logout-a h1 {
  padding: 20px;
  margin: 75px;
  border-radius: 10px;
}
.logout-a a {
  padding: 15px;
  border-radius: 10px;
}
.logout-a .a {
    margin: 10px auto;
    text-align: center;
    margin-bottom: 13%;
}
.logout-a a:hover {
  color: #fff;
  text-decoration: none;
}

.map {
  margin-bottom: 50px;
}


/*-------layout------*/

.layout {
  position: relative;
}

.layoutDiv {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  z-index: 2;
  width: 100%;
  text-align: center;
}
.layoutDiv p {
  width: 36%;
  font-size: 7em; 
  font-weight: 600; 
  margin-top: 15%;
  text-shadow: 2px 2px 8px #FFF;
  /*background-color: rgba(179, 46, 51, 0.6);*/
  padding: 35px 10px;
  margin: 20% auto;
  color: #B32E33;
  border-bottom: 5px double #B32E33;

}
.layoutDiv .conceptP, .presseP {
  width: 30%;
}
.layoutDiv .presseP {
  width: 16%;
}
.layoutDiv .reserveP, .contactP {
  width: 18%;
}
.layoutDiv .contactP {
  width: 18%;
}


.avisClient {
  padding-top: 100px;
}
.paragraphe-general {
  font-size: 14px;
  font-family: 'Fjalla One', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  color: #B32E33;
  /*padding: 4%;
    font-size: 2em;*/
  padding: 5px 10px;
}
/* PAGE CONCEPT */
.paragraphe-concept{
    font-size: 14px;
    font-family: 'Fjalla One', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    color: #B32E33;
    padding: 70px 10px !important;
    margin-top: 0p !important;
}
    
/* PAGE GENERAL */
.paragraphe-page-press{
    font-size: 14px;
    font-family: 'Fjalla One', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    color: #B32E33;
    padding: 1px 10px !important;
    margin-top: 0p !important;
} 
.pGeneral {
  /*padding: 8px;*/
  padding: 16px;
  text-align: justify;
  line-height: 22px;
}
.title-paragraphe{
    font-family: 'Fjalla One', sans-serif; 
    font-size: 18px;
    font-weight: bold;
    color: #B32E33;
    text-decoration: none;
}

/* SOCIAL MEDIA */
.title-reseau{
   color: white !important;
}




#main-header--social-global{
   position: absolute;
   opacity: 0;
}
@media screen and (min-width: 1024px) {
   #main-header--social-global{
   position: fixed;
   margin-top: 15%;
   width: 80px;
   background-color: rgba(255, 255, 255, 0.4);
   color: white;
   font-size: 30px;
   vertical-align: middle;
   padding: 20px 20px 20px 0px;
   text-align: center;
   line-height: 55px;
   opacity: 1;
   z-index: 8;
   }
}
 
/* == global icons == */
#global-icons{
height: 70px;
    width: 100px;
    overflow: hidden;
    display: inline-block;
    background-size: 55px 55px;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

/* == facebook icon == */
.icon-facebook{
   background-image: url("../images/icon-facebook.svg");
}
.icon-facebook:hover{
   background-image: url("../images/icon-facebook-hover.svg");
}
/* == linkedin icon == */
.icon-linkedin{
   background-image: url("../images/icon-twitter.svg");
}
.icon-linkedin:hover{
   background-image: url("../images/icon-twitter-hover.svg");
}
/* == instagram icon == */
.icon-instagram{
   background-image: url("../images/icon-instagram.svg");
}
.icon-instagram:hover{
   background-image: url("../images/icon-instagram-hover.svg");
}
/* == youtube icon == */
.icon-youtube{
   background-image: url("../images/icon-youtube.svg");
}
.icon-youtube:hover{ 
   background-image: url("../images/icon-youtube-hover.svg");
}

/* PICTURE HEADER */
.picture-header-presse, .picture-header-reserver, .picture-header-concept, .picture-header-devenir-franchise, .picture-header-contact{
    height: 493px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.picture-header-presse{
    background-image: url(../images/wood-3157395__480.jpg);
}
.picture-header-concept{
    background-image: url(../images/Capture.PNG);
}
.picture-header-reserver{
    background-image: url(../images/paula-vermeulen-383310-unsplash.jpg);
}
.picture-header-devenir-franchise{
    background-image: url(../images/restaurant-et-bar.jpg);
}
.picture-header-contact{
    background-image: url(../images/jakob-owens-518866-unsplash.jpg);
}


